<body>
<p>
Kata dapat dicetak <b>tebal</b>, <i>miring</i>,
<u>garis bawah</u>, <b>tebal <i>miring</i></b>, dan
<b><i><u>kombinasi</u></i></b> di tengah huruf
normal.</p>

<p>
<i>Halo</i>, nama saya adalah <b>Faqih 'Ainul Yaqin Nursaid</b>. <u>Ini adalah contoh kalimat yang digarisbawahi.</u>
</p>

<p>
Kalimat di atas merupakan beberapa modifikasi yang telah saya buat.
<b><i><u>Terima kasih</u></i></b>.
</p>
</body>