<body bgcolor="#66ffff">
<p style="color:red">
Ini adalah homepage pertama saya, karena saya baru belajar tentang cara membuat homepage.
</p>

<p style="color:blue">
Homepage ini masih dalam tahap pengembangan, oleh karena itu
tampilannya masih terlalu sederhana.
</p>

<p style="color:green">
Saya akan berusaha untuk terus memperbaiki homepage saya ini, sehingga semakin lama semakin menarik untuk dilihat.
</p>
</body>