<p><b><u>Perkenalkan</b></u>,<br />
nama saya <b><u><i>Faqih 'Ainul Yaqin Nursaid</b></u></i>.<br /> Ini
adalah <i>homepage</i> pertama
saya,<br />karena saya baru 
belajar tentang <br />cara
membuat <i>homepage</i>.</p>

<p><i>Homepage</i> ini masih dalam
<u>tahap pengembangan</u>,<br /> oleh
karena itu tampilannya masih
<u>terlalu sederhana</u>.</p>