<p> Ini adalah <b>Operasi Matematika</b> yang menghitung <u>penjumlahan variabel berpangkat.</u> 

<p> (x<sub>1</sub> + x<sub>2</sub>)<sup>2</sup> =
x<sub>1</sub><sup>2</sup> + x<sub>2</sub><sup>2</sup> +
2x<sub>1</sub>x<sub>2</sub></p> 

<p> Ini adalah <b>Penghitungan Kimia</b> dari <i>2 H<sub>2</sub></i> yaitu <u>dua hidrogen</u> dan <i>O<sub>2</sub></i> yaitu <u>oksigen</u>, yang menghasilkan <i>2 H<sub>2</sub>O</i> yaitu <u>dua senyawa air</u>.

<p>2H<sub>2</sub> + O<sub>2</sub> = 2 H<sub>2</sub>O