<head>
    <style>
      table {
        font-family: times new roman, arial;
        border-collapse: collapse;
        width: 100%;
      }
      td, th {
      border: 1px solid #99ccff;
      text-align: left;
      padding: 8px;
      }
      tr:nth-child(even) {
      background-color: #99ccff;
      }
    </style>
 </head>

<body>
<table width="100%" border="1" cellspacing="1" cellpadding="1">
<caption><h2 style="text-align:center;"> Mahasiswi Teknik Informatika Kelas H</h2></caption>

<tr>
<th style="text-align:center;"> Nama</th>
<th style="text-align:center;"> NIM</th>
</tr>
   <tr>
     <td>&nbsp;Azizah Zein Fadilla</td>
     <td>2000018407</td>
   </tr>
   <tr>
     <td>&nbsp;Ananda Nur Rahmawati</td>
     <td>2000018408</td>
   </tr>
   <tr>
     <td>&nbsp;Priya Ayu Pramudita</td>
     <td>2000018434</td>
   </tr>
</table>
</body>

