<body style="background-color: lime;">
<p>
<img src="ukulele.jpg" height="250px" width="150px" align="left">
Perkenalkan, nama saya Faqih 'Ainul Yaqin Nursaid. Ini adalah homepage pertama saya, karena saya baru belajar tentang cara membuat hompage.<hr /> Homepage ini masih dalam tahap pengembangan. Oleh karena itu, tampilannya masih terlalu <img src="Commons.gif" height="100px" width="100px" alt="Logo" /> sederhana. Saya akan berusaha untuk terus memperbaiki homepage saya ini, sehingga semakin lama semakin menarik untuk dilihat.
</p><br />
<p>
Pada kesempatan kali ini, saya akan menunjukkan halaman selanjutnya dari halaman HTML ini<br /> dengan cara klik di bawah ini.<br />
</p>
<p>
Saya ingin melihat <a href="hal2.html">halaman selanjutnya</a>. Saya ingin langsung menuju ke <a href="#akhir"> bagian akhir</a>. Saya ingin menuju ke <a href="hal2.html#bawah">bagian bawah pada halaman selanjutnya</a>.<br />
</p>
<p>
Pada bagian bawah ini Anda dapat klik pada gambar untuk menuju ke halaman Detik.com<br />
</p>
<p>
<a href="https://www.detik.com/"><img src="detik.gif" height="100px" width="100px" /></a><br />Homepage detik.com<br />
</p>
<p>
Ini bagian tengah.<br />
</p>
<p>
<a name="#akhir"> Ini bagian akhir.</a>
</p>
<p>
<a href="http://www.elearning.uad.ac.id"><img src="elearninguad.png"></a><br />
</p>
<p>
<a href="mailto:faqih2000018415@webmail.uad.ac.id">Email saya.</a>
</p>
</body>